<div class="organizer-card-small">
  <img src="{{ '/assets/img/' | append: organizer.image }}" alt="{{ organizer.name }}">
  <div class="organizer-info-small">
    <strong>{{ organizer.name }}</strong><br>
    <small>{{ organizer.affiliation }}</small>
  </div>
</div>